body, div, ul, li, ol, dl, dt, dd, a, img, p {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: "Microsoft YaHei";
}

ul, li, ol, dl {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    vertical-align: middle;
}

u, s {
    text-decoration: none;
}

i {
    font-style: normal;
}

input{
    outline-style: none;
}

.banxin{
    width: 1200px;
    margin: 0 auto;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}


/*开机动画*/
#bigcontainer{
    overflow: hidden;
    height: 650px;
    position: relative;
    z-index: 100;
    width: 1400px;
    margin: 0 auto;
}
body{
    background-color: #999999;
}
#gears{
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;


}
#gears img {
    position: relative;
}

/*右下角导航栏  begin*/
/*#sidebar{
    width: 42px;
    height: 124px;
    position: fixed;
    bottom: 20px;
    right: 0px;
}
.a-top{
    width: 42px;
    height: 41px;
    background: url("../images/a-top.bmp");
    visibility: hidden;
}
.a-center{
    width: 42px;
    height: 41px;
    background: url("../images/a-center.bmp");
}
.a-bottom{
    width: 42px;
    height: 41px;
    background: url("../images/a-bottom.bmp");
}
*/
/*右下角导航栏  end*/

/*顶部开始*/
.topbar {
    height: 48px;
    /*padding-left: 48px;
    padding-right: 96px;*/
}

.topbar .Microsoft {
    width: 108px;
    height: 23px;
    display: inline-block;
    float: left;
    padding-top: 12px;
    padding-right: 25px;
}

.top-list {
    float: left;
    cursor: pointer;
}

.top-list a{
    display: block;
}

.top-list-item {
    float: left;
    line-height: 48px;
    height: 48px;
    margin: 0 25px;
    text-indent: 10px;
    padding-right: 20px;
}

.drop-main {
    position: absolute;
    width: 240px;
    background-color: #f2f2f2;
    display: none;
  /* opacity: 0;*/
}

.drop-sub-list {
    position: absolute;
    top: 0;
    left: 240px;
    background-color: #e5e5e5;

}

 .drop-list-inner:hover, .drop-sub-content:hover {
    background-color: #E5E5E5;
}

.drop-list2 span ,.drop-list1 span{
    float: right;
    margin-right: 10px;
}

.drop-sub-content {
    width: 400px;
    line-height: 48px;
    height: 48px;
}

.top-search {
    float: right;
    height: 48px;
    line-height: 48px;
}

.arrow-drop {
    position: relative;
    line-height: 13px;

}

.arrow-drop u {
    position: absolute;
    height: 5px;
    width: 13px;
    top: 7px;
    right: -16px;
    overflow: hidden;
}

.arrow-drop i {
    position: absolute;
    top: -7px;
    left: -7px;
}

.drop-list-inner .drop-sub-list {
   /* opacity: 0;*/
    display: none;
    background-color: #F2F2F2;
}

.top-search {
    position: relative;
}

#search-float{
    float: left;
    /*margin-top: 4px;*/
}

.top-search input {
    height: 34px;
    width: 271px;
    border: 1px solid #A9A9A9;
    background: url(../images/search.png) no-repeat right;
    outline-style: none;
}



.head-login{
    width:145px; 
    margin-top:4px;
    margin-left:30px;
    float:right;
}

.head-login a{
    width:62px; 
    height:35px; 
    display:block;
    float:left; 
    -moz-border-radius: 6px;  
    -webkit-border-radius: 6px; 
    border-radius:6px; 
    font-size:16px; 
    color:#107C10; 
    line-height:35px;
    text-align:center;
}
.head-login a.btn-login{
    background:#107C10;
    border:1px solid #107C10;
    color:#fff;
}
.head-login a.btn-register{
    margin-left:15px; 
    border:1px solid #107C10;
}


 #pop {
            width: 271px;
            border: 1px solid #ccc;
            padding: 0px;
            position: absolute;
            top: 43px;
            z-index: 3;
            background-color: #fff;
        }

        #pop ul li {
            padding-left: 5px;
            line-height: 23px;
        }

        #pop ul li:hover {
            background-color: #CCC;
        }

/*顶部结束*/

/*nav start*/
.nav {
    height: 72px;
    line-height: 72px;
    background-color: #107C10;
    border-bottom: solid 1px #0C590B;
    text-indent: 10px;
}

.nav ul > li {
    float: left;
    margin: 0 27px;
    color: #FFFFFF;
    padding-right: 20px;
}

.nav .nav-logo {
    margin-left: -13px;
}

.nav-drop-item ol li {

    color: white;
    background-color: #0C630C;

    float: left;
    display: none;
}

.nav-drop-wrap {
    display: none;
    background-color: #0C630C;
    position: absolute;
    z-index: 2;
    width: 270px;
    line-height: 52px;
}

.nav-drop-list:hover {
    background-color: #0C630C;
    cursor: pointer;
}

.nav-drop-item:hover {
    background-color: #0B560B;
    cursor: pointer;
}

.nav .search-car-li{
    margin: 17px 0 0 54px;
    padding-right: 0;
}
 .search-car {
        width: 96px;
        height: 34px;
        float: right;
        padding-left: 43px;
        line-height: 34px;
        background-color: #F9F9F9;
        border: 1px solid #DFDFDF;
        position: relative;
    }
    .search-car-icon1 {
        position: absolute;
        top: 8px;
        left: 18px;
        width: 18px;
        height: 16px;
        background: url(../images/tel.png) no-repeat 0 -57px;
    }
    .search-car-icon2 {
        position: absolute;
        right: 10px;
        font: 13px/34px "simsun";
    }
    .nav .search-car-icon3 {
        position: absolute;
        top: -5px;
        width: 18px;
        height: 15px;
        background-color: #C81623;
        color: #fff;
       /* text-align: center;*/
        line-height: 14px;
        border-radius: 8px 8px 8px 0;
        font-size: 12px;
        font-family: Ariay;
    }

    
    .search-fixed{
        position: fixed;
        top: 100px;
        right: 100px;
        z-index: 5;
        background-color: #fff;
        /*width: 34px;*/
    }
    
    .search-float-img{
        position: absolute;
        right: 1px;
        top: 1px;
        display: none;
    }

   .search-float-r {
        float: right;
        height: 34px;
        width: 271px;
        border: 1px solid #A9A9A9;
       /* background: url(../images/search.png) no-repeat right;*/
        outline-style: none;
        display: none;
    }
/*nav end*/

/*头部幻灯片开始*/
#carousel {
    position: relative;
    background-color: #FFF;
    margin-top: 10px;
    overflow: hidden;
}


#carousel .carousel-banner ul {
    width: 9999px;
    position: relative;
    left: -1010px;
    /*overflow: hidden;*/
}

#carousel .carousel-banner {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#carousel .carousel-banner li {
    float: left;
    height: 400px;
    margin-right: 10px;
}

#carousel .carousel-arrowLeft, #carousel .carousel-arrowRight {
    display: block;
    height: 400px;
    position: absolute;
    top: 0px;
    z-index: 3;
}

#carousel .carousel-arrowLeft {
    left: 0px
}

#carousel .carousel-arrowRight {
    right: 0px;
}

#carousel .carousel-arrowLeft span, #carousel .carousel-arrowRight span {
    display: block;
    height: 400px;
    background-color: #fff;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

#carousel i {
    display: block;
    height: 64px;
    width: 32px;
    background: url(../images/sprite.png) no-repeat;
    z-index: 4;
}

#carousel .carousel-arrowRight i {
    float: left;
    background-position: -32px 0px;
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -32px;
}

#carousel .carousel-arrowLeft:hover i {
    background-position: 0px -64px;
}

#carousel .carousel-arrowRight:hover i {
    background-position: -32px -64px;
}

#carousel .carousel-arrowLeft i {
    float: right;
    background-position: 0px 0px;
    position: absolute;
    top: 50%;
    right: 50px;
    margin-top: -32px;
}

#carousel ol {
    position: absolute;
    left: 50%;
    margin-left: -58px;
    bottom: -390px;
    line-height: 20px;
    text-align: center;
    list-style: none;
}

#carousel ol li {
    float: left;
    width: 15px ;
    height: 15px !important;
    border-radius: 100%;
    background: #fff;
    border: 1px solid #cccccc;
    margin-left: 10px;
    font-size: 8px;
    cursor: pointer;
}

#carousel ol li.current {
    background: #00FF00;
}

/*头部幻灯片结束*/

/*广告  第一部分*/

.commodity-first-l{
    float: left;
    width: 70%;

}

.commodity-first-r{
    float: left;
    width: 25%;
    height: 500px;
}

.commodity-first-r p {
    font-size: 40px;
    margin-bottom: 30px;
}

.commodity-first-r .price {
    font-size: 30px;
    color: red;
    font-family:"Cooper Black"
}

.commodity-first-r span {
    display: block;
    margin-bottom: 30px;
}

.commodity-first-r a {
    display: inline-block;
    height: 36px;
    width: 131px;
    margin-right: 25px;

}

.commodity-first-r input {
    text-decoration: none;
    background-color: white;
    height: 36px;
    width: 131px;
    border: 1px solid #0BA50B;
    color: #0BA50B;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.commodity-first-r input:hover {
    background-color: #0BA50B;
    color: white;
}

.commodity-first-list{
    text-align: center;
    margin-left: 85px;
    border-top: 1px solid #c8c8c8;
    padding-top: 50px;
    padding-left: 190px;
    width: 1000px;

}

.commodity-box{
    float: left;
    margin-right: 25px;
}

.commodity-box p {
    margin-top: 10px;
    margin-bottom: 25px;
    font-family: "microsoft yahei";
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.commodity-box .commodity-box-text {
    margin-top: 90px;
}

.block1 {
    height: 500px;
    background: url(../images/背景1.jpg);
    background-attachment: fixed;
    background-size: cover;

}

/*旋转球*/
.bangbox {
    height: 550px;
    width: 1250px;
    background: url("../images/bg.jpg") no-repeat right;
    background-position:right;
    margin: 0 auto;
}
#bang {
    width: 550px;
    height: 550px;
    /*border: 1px solid #000;*/
    position: relative;
    margin: 0 auto;
    float: left;
    /*background: url("../images/bg.jpg") no-repeat right;*/
    /*background-position:right;*/
    /*background-image: url("images/pic3.jpg");*/
}
#centerC {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-color: red;
    position: absolute;
    left: 225px;
    top: 225px;;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    color: white;
}
#centerCSpan {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: #2A3466;
    position: absolute;
    left: 210px;
    top: 210px;
    opacity:0.2;
}
#circle1 {
    width: 239px;
    height: 239px;
    border-radius: 220px;
    position: absolute;
    left: 165px;
    top: 165px;
    border: 1px dashed silver;
}
#circle2 {
    width: 218px;
    height: 218px;
    border-radius: 220px;
    position: absolute;
    left: 175px;
    top: 175px;
    border: 2px dashed #2A3466;
}
#circle3 {
    width: 450px;
    height: 450px;
    border-radius: 450px;
    position: absolute;
    left: 60px;
    top: 60px;
    border: 1px dashed silver;
}



/*广告  第一部分 end*/
/*广告  第二部分 */
/*蒙版*/
.news {
    width: 1110px;
    margin: 10px auto 50px;
    position: relative;
}
.news-apply {
    float: left;
    width: 802px;
    height: 606px;
    border: 1px solid #B1AEA7;
    margin-top: 25px;
    background: url(../images/LgTitBg.gif) no-repeat center 16px;
    position: relative;
    margin-bottom: 35px;
    padding-top: 28px;
}

.news-apply .news-box {
    width: 188px;
    height: 188px;
    overflow: hidden;
    float: left;
    margin: 10px 0 0 10px;
    background: #333;
    position: relative;
}

.news-apply .xrBg1 {
    background: #AC411D;
}

.news-apply .xrBg2 {
    background: #569231;
}

.news-apply .xrBg3 {
    background: #A9B215;
}

.news-apply .xrBg4 {
    background: #543FE2;
}

.news-apply .tit6 {
    background-position: 0 -100px;
    left: 354px;
}

.news-apply .news-box h2 {
    height: 50px;
    overflow: hidden;
    margin: 55px 0 0 3px;
}

.news-apply .news-box p {
    line-height: 22px;
    color: #999;
    text-align: center;
}

.news-apply .news-box p span {
    line-height: 22px;
    color: #999;
    margin: 0 5px;
}

.news-apply .news-box h2 a {
    width: 142px;
    height: 50px;
    overflow: hidden;
    display: block;
    background: url(../images/xuanRan.gif) no-repeat;
    margin: 0 auto;
    text-indent: -9999px;
    outline: none;
}

.news-apply .news-box h2 .rw {
    background-position: 0 0;
}

.news-apply .news-box h2 .rw:hover {
    background-position: -142px 0;
}

.news-apply .news-box h2 .fg {
    background-position: 0 -50px;
}

.news-apply .news-box h2 .fg:hover {
    background-position: -142px -50px;
}

.news-apply .news-box h2 .sh {
    background-position: 0 -100px;
}

.news-apply .news-box h2 .sh:hover {
    background-position: -142px -100px;
}

.news-apply .news-box h2 .js {
    background-position: 0 -150px;
}

.news-apply .news-box h2 .js:hover {
    background-position: -142px -150px;
}

.news-apply .news-box h2 .qt {
    background-position: 0 -200px;
}

.news-apply .news-box h2 .qt:hover {
    background-position: -142px -200px;
}

a.xrBg {
    width: 188px;
    height: 188px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    text-align: center;
    line-height: 188px;
    opacity: 0;
}

a.xrText {
    width: 188px;
    height: 188px;
    overflow: hidden;
    position: absolute;
    left: -260px;
    top: 0;
    display: block;
    text-align: center;
    line-height: 188px;
}

a.mainTit {
    width: 95px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    background: url(../images/mainTit.gif) no-repeat;
    position: absolute;
    left: 11px;
    top: -10px;
    text-indent: -9999px;
}

a.more {
    width: 28px;
    padding-left: 28px;
    height: 16px;
    line-height: 16px;
    color: #333;
    overflow: hidden;
    display: inline-block;
    background: url(../images/moreGray.gif) no-repeat 7px 0 #F6F2E6;
    position: absolute;
    right: 11px;
    top: -9px;
    z-index: 1000;
}

.more:hover {
    background-position: 7px -16px;
    color: #AC411D;
}
/*蒙版结束*/

/*右侧滚动*/
 .newFast .fast li {
    padding: 17px 0px;
}

.newFast {
    width: 275px;
    height: 655px;
    overflow: hidden;
    float: right;
    padding-left: 15px;
    border-left: 1px dotted #91CF6C;
    margin-top: 7px;
}

.newFast .fast {
    width: 239px;
    height: 585px;
    border: 1px solid #E0E0E0;
    margin-top: 17px;
    position: relative;
    padding: 18px 17px 0;
}

.fastMain {
    height: 570px;
    overflow: hidden;
}

.fastMain ul {
    position: relative;
    height: 9999px;
}

.fastMain li {
    overflow: hidden;
    padding: 6px 0;
    height: 81px;
    border-bottom: 1px dotted #91CF6C;
}

.fastMain .img {
    float: left;
}

.fastMain .des {
    float: left;
    width: 148px;
    height: 73px;
    margin-left: 10px;
}

.fastMain .des a {
    color: #333;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
}

.fastMain .des a i {
    margin-right: 5px;
    font-style: normal;
    color: #AC411D;
}

.fastMain .img img {
    max-width: 75px;
    max-height: 75px;
}

#jq .fastMain .img img {
    max-width: 110px;
    max-height: 80px;
}

#jq .fastMain .des {
    width: 118px;
    text-align: center;
    line-height: 73px;
}

#jq .fastMain .des a:hover {
    color: #AC411D;
}



.newFast .nextPreBtn {
    height: 25px;
    overflow: hidden;
    background: url(../images/nowBtnXX.png) no-repeat bottom;
    padding-top: 6px;
}

.newFast .nextPreBtn a {
    width: 29px;
    height: 25px;
    overflow: hidden;
    display: inline-block;
}

.nextNow {
    background: url(../images/nextNow.png) no-repeat 0 0;
    margin-left: 104px;
}

.prevNow {
    background: url(../images/prevNow.png) no-repeat 0 0;
}

.nextNow:hover, .prevNow:hover {
    background-position: 0 -25px;
}

/*右侧滚动结束*/
/*底部盒子*/

.bottom-Xbox ul {
    padding-left: 39px;
    padding-right: 34px;

}

/*.bottom-Xbox {
    background-color: #F2F2F2;
}*/

.bottom-Xbox li {
    /*width: 350px;*/
    float: left;
    height: 551px;
    /*background-color: pink;*/
}

.bottom-Xbox .first-item {
    display: block;
    width: 264px;
    padding-right: 54px;

}

.bottom-Xbox .second-item {
    width: 285px;
    padding-right: 65px;
}

.bottom-Xbox .third-item {
    width: 369px;
}

.bottom-Xbox .size-common {
    height: 233px;
    padding-top: 75px;
    /*background-color: palegreen;*/
}

.first-item .image-icon1 {
    height: 172px;
    width: 172px;
    margin: auto;
    background: url("../images/F-controller.png") no-repeat -109px -23px;
}

.second-item .image-icon2 {
    width: 280px;
    height: 167px;
    margin: auto;
    background: url("../images/F-part.png") no-repeat -59px -22px;
}

.third-item .image-icon3 {
    width: 346px;
    height: 194px;
    margin: auto;
    background: url("../images/F-host.png") no-repeat -21px -15px;
}

.first-top-part {
    overflow: hidden;
    position: relative;
    height: 537px;
}
.stop img {
    height: 308px;
}
.ttop img{
    height: 308px;
}
.second-top-part {
    overflow: hidden;
    position: relative;
    height: 537px;
}

.third-top-part {
    overflow: hidden;
    position: relative;
    height: 537px;
}

.Chinese {
    height: 142px;
    margin-bottom: 61px;
}

.ftop {
    position: absolute;
    width: 372px;
    height: 308px;
    left: 0;
    top: -308px;
}

.fbot {
    width: 372px;
    height: 0px;
    position: absolute;
    bottom: 0px;
    /*background-color:pink;*/
}

.stop {
    position: absolute;
    width: 366px;
    height: 308px;
    left: 0;
    top: -308px;
}

.sbot {
    width: 366px;
    height: 0px;
    position: absolute;
    bottom: 0px;
    /*background-color:pink;*/
}

.ttop {
    position: absolute;
    width: 387px;
    height: 308px;
    left: 0;
    top: -308px;
}

.tbot {
    width: 387px;
    height: 0px;
    position: absolute;
    bottom: 0px;
    /*background-color:pink;*/
}

h2 {
    font: 400 32px "microsoft YaHei";
    color: #3A3A3A;
    padding-bottom: 30px;
}

p {
    font: 17px "microsoft YaHei";
    color: #3A3A3A;
}

.detail {
    width: 129px;
    height: 40px;
    text-align: center;
    border: 1px solid #107C10;
    background-color: white;
}

.detail a {
    color: #107C10;
    font: 700 16px/40px "microsoft YaHei";
}

.detail a:hover {
    color: #107C10;
    text-decoration: underline;
}

.detail:hover {
    background-color: #E4E4E4;
}

.block2 {
    height: 500px;
    background: url(../images/背景2.jpg);
    background-attachment: fixed;
    background-size: cover;
}
/*底部盒子 结束*/
/*广告  第二部分 end*/


/*广告   第三部分*/
.commodity-three {
    width: 1000px;
    margin: 10px auto 10px;
}

.commodity-three-slide {
    height: 500px;
    position: relative;
}

.commodity-three-slide li {
    position: absolute;
    left: 200px;
    top: 0;
}

.commodity-three-slide li img {
    width: 100%;
}

.commodity-three-arrow {
    opacity: 0;
    position: absolute;
    top: 200px;
    z-index: 1000;
}
.commodity-three-arrow .next{
    left: 920px;
}
.prev, .next {
    width: 76px;
    height: 112px;
    position: absolute;
    /*top: 50%;
    margin-top: -56px;*/
    background: url(../images/prev.png) no-repeat;
    z-index: 99;
}

.next {
    /*right: 0;*/
    background-image: url(../images/next.png);
}

.commodity-introduce{
    height: 255px;
    width: 1000px;
    margin:0 auto 20px;
    overflow: hidden;
    border: 1px solid red;

}

.commodity-introduce li{
    height: 255px;
   /* background-color: purple;*/
    padding: 10px;
    display: none;
   /* color: white;*/
}


.commodity-introduce li.commodity-show{
    display: block;
}










.block3 {
    height: 500px;
    background: url(../images/背景3.jpg);
    background-attachment: fixed;
    background-size: cover;
}
/*广告   第三部分 end*/

/*底部*/
.product{

}

 .product-title{
    height: 110px;
    background-color: #3A3A3A;
 }

.product-title p{
    width: 1200px;
    margin: 0 auto;
    font: 700 32px/110px "microsoft YaHei";
    text-align: center;
    color: #fff;

}

.product-display{
width: 1200px;
/*height: 10px;*/
margin: 0 auto;
}

.product-display div{
    background-color: rgba(255, 0, 0, 0.5);
        width: 150px;
        height: 150px;
        float: left;
        margin: 20px;
        font-size: 30px;
         text-align: center; 
         line-height: 150px; 
}
/*底部结束*/



































/* 弹窗*/
    #pop-ups , #shopping{
        display:none;
        width: 100%; 
        height: 100%;
        position:fixed;
        left: 0; 
        top: 0;
        z-index:130;
    }
    #login-mask{ 
        position: absolute; 
        left: 0;
        top: 0; 
        width: 100%;
        height: 100%; 
        background: #000; 
        opacity: 0.3;
        filter: alpha(opacity: 30); 
       /* z-index:120;*/
    }
    #login-box {
        width: 380px;
        height: 400px;
        position: fixed;
        /*position: absolute; */
        left: 0; 
        top: 0;
        background: #fff;
      /*  z-index:130;*/
        left: 50%;
        margin-left: -190px;
        top: 50%;
        margin-top: -200px;
    }
    #login-box .close{
        position:absolute;
        right:-10px;
        top:-10px;
    }
    #login-box .panel {
        width:320px;
        height: 400px;
        padding: 0 30px;
        position: relative;
    }
    #login-box .header {
        padding-top:28px;
    }
    #login-box h2 {
        float:left;
        line-height:30px;
        font-size:30px;
        color: #404040;
        width:80px;
        margin:0;
    }
    #login-box .note {
        float:right;
        color: gray;
        font-size:14px;
        width:200px;
    }
    #login-box .form {
        margin-top: 40px;
        position: relative;
        zoom: 1;
    }

    #login-box .loginname{
        width: 314px;
        height: 38px;
        border: 1px solid #e7ebec;
    }

    #login-box .password{
         width: 314px;
        height: 38px;
        border: 1px solid #e7ebec;
        margin-top: 10px;
    }

    #login-box .submit {
        display: block;
        height: 40px;
        background-color: #F60;
        font-size: 18px;
        text-align: center;
        color: white;
        line-height: 40px;
        border: 0;
        width: 100%;
        cursor: pointer;
        margin-top: 16px;
    }
    #login-box .quick-nav {
        margin-top: 20px;
        overflow:hidden;
        margin-left:40px;
    }

    #login-box .quick-nav .first {
        padding-left: 0;
        padding-left: 20px;
    }
    #login-box .quick-nav li {
        float:left;
        position: relative;
        line-height: 14px;
        border-right:1px solid #CCC;
        padding:0 10px;
    }
    #login-box .quick-nav .common-chk {
        position:absolute;
        height: 13px;
        left: 0;
        top: 0;
    }
/*弹窗  end*/
/*购物车弹窗*/
/*#shopping-close{
    float: right;
}*/
.shopping-car{
    width: 600px;
    margin: 0 auto;
    position: fixed;
    background: #fff;
    left: 50%;
    margin-left: -300px;
    margin-top: 200px;
    padding: 20px;

}
 .shopping-box{
    background-color: #e4e7eb
 }

#shopping-total{
    float: right;
}

#shopping-total span{
    color:red;
}

#shopping-add ,#shopping-close ,#shopping-pay{
    float: right;
    -moz-border-radius: 6px;  
    -webkit-border-radius: 6px; 
    border-radius:4px; 
    font-size:16px; 
    background:#9e9e9e;
    border:1px solid #9a9a9a;
    color:#fff;
    margin: 3px;
}


/*购物车弹窗 end*/

/*留言板*/
    .message{
       /* width: 1200px;
        margin: 0 auto;*/
        padding: 34px 0 40px;
        font-size: 12px;
        background: url(../images/bg.gif) repeat center 36px;
        text-align: center;
        background-color: #c30230;
    }

    #message-content {
       /* margin-bottom: 40px;
        margin-top:34px;*/
        margin-left: 400px;
        width: 960px;
        background: url(../images/content_bg.jpg) no-repeat left top;
        height: 366px;
        position: relative;
    }

    #message-content .tip{
        position: absolute;
        width: 227px;
       /* left: 400px;
        top: 100px;*/
    }



    #message-content .tip .tip_h{
        width: 227px;
        padding-top: 45px;
        height: 23px;
        text-align: left;
        cursor: move;
        background: url(../images/tip1_h.gif) no-repeat left top;
    }


    #message-content .tip .tip_c {
        width: 200px;
        padding-left: 12px;
        padding-right: 15px;
        min-height: 40px;
        text-align: left;
        line-height: 20px;
        max-height: 160px;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        background: url(../images/tip1_c.gif) repeat-y;
        font: 400 22px/20px "微软雅黑";
        text-indent:2em;
    }

    #message-content .tip .tip_f {
        width: 227px;
        height: 53px;
        padding-top: 20px;
        background: url(../images/tip1_f.gif) no-repeat left top;
    }

    #message-content .close {
        float: left;
        font-size: 12px;
        cursor: pointer;
        color: #000000;
    }

    #message-content .icon {
        float: left;
        width: 35px;
        padding-left: 15px;
        height: 35px;
        text-align: center;
    }

    #message-content .messageName {
        float: right;
        padding-right: 15px;
        text-align: right;
        font-size: 14px;
        line-height: 35px;
        color: #C0F;
    }

    #message-content .num {
        float: left;
        padding-left: 7px;
        width: 195px;
    }

    /*许愿B*/
   
        .message-box{
            width: 350px;
            margin:0;
            /*border: 1px solid #000;*/
            padding: 20px;
            float: left;
        }

        textarea{
            width: 280px;
            height: 150px;
            resize: none;
            margin-left: 0;
            padding:20px 10px 10px;
            font: 400 22px/20px "微软雅黑";
            text-indent: 2em;
        }

        .message-box h3{
            font: italic 600 28px/22px "微软雅黑";
            text-align: center;
            color:pink;
        }

        #message-btn{
            border-radius: 6px;
            background-color: deeppink;
            border: 0;
            padding: 0;
            width:60px;
            height: 30px;
            margin-top:10px;
            font:400 16px/35px "宋体";
            color: white;
            cursor:pointer;
        }

    /*许愿E*/

/*friend                   B*/
    .friend-link{
        /*height: 102px;*/
        height: 62px;
        line-height: 62px;
        /*margin-top: 18px;*/
        /*border-top:1px solid #DDD;*/
        text-align: center;
    }

    /*.friend .f_top{
        margin-top: 18px;
    }*/

    /*.friend .f_bottom{
        text-indent: 5em;
        margin-top: 15px;
    }*/

    .friend-link ul{
        display: inline-block;
        text-align: center;
        /*margin-top: 10px;*/
    }

    .friend-link li{
        /*float:left;*/
        display: inline-block;
        height: 25px;
        line-height: 25px;
    }

    /*friend                         E*/


    .foot{
        height: 94px;
        
        border-top: 3px solid #0A7EC3;
    }

    .foot ul{
        text-align: center;
        margin-top: 10px;
    }

    .foot li{
        /*float:left;*/
        display: inline-block;
        height: 25px;
        line-height: 25px;
    }